<div class="user-details">
	<h1> Featured Projects </h1>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="메인 & 플래너 페이지" src="{{ "/assets/img/planbut.png" | prepend: site.baseurl }}" />
	</div>
	<div class="contents">
		<h3> 플랜벗 (2019. 4~5) </h3>
		<ul>
			<li> Java, Spring Framework, MyBatis, JSP, Javascript, Ajax, MariaDB (MySQL), Git</li>
		</ul>
		<p> 여행 계획에 필요한 동선 짜기 및 동행 찾기, 플래너 관리를 할 수 있는 사이트
			<br>주요 기능: 지도(Google Maps API), 캘린더(FullCalendar), 채팅
			<br>담당 분야: <span class="highlight">프로젝트 팀장</span>(PM역), <span class="highlight">플래너/캘린더 Front-end/Back-end 개발</span>, <span class="highlight">Git 브랜치 관리</span>, 검수 및 최종 발표</p>
		<a class="project-link" href="https://github.com/jj-a/planBut" target="_blank">Check it out</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-left">
		<img alt="메인 페이지" src="{{ "/assets/img/softproj.jpg" | prepend: site.baseurl }}" />
	</div>
	<div class="contents-right">
		<h3> 학과 홈페이지 (2015. 9~12) </h3>
		<ul>
			<li> Java, Spring Framework, JSP, Javascript, MS-SQL, Git</li>
		</ul>
		<p>학과 홈페이지
			<br>주요 기능: Facebook 크롤링/파싱, 게시판
			<br>담당 분야: <span class="highlight">UI/UX 디자인</span>, <span class="highlight">Front-end 개발</span></p>
		<a class="project-link" href="#">Check it out</a>
	</div>
</div>
<div class="user-projects">
	<div class="images-right">
		<img alt="시작 화면" src="{{ "/assets/img/daejin.png" | prepend: site.baseurl }}" />
	</div>
	<div class="contents">
		<h3> 대진의 하루 (2010. 5~9) </h3>
		<ul>
			<li> Visual Basic, Photoshop</li>
		</ul>
		<p>학교 생활을 소재로 한 체험형 퀴즈 게임
			<br>주요 기능: 다중 Form 활용, 이벤트 처리
			<br>담당 분야: <span class="highlight">프로젝트 팀장</span>(PM역), <span class="highlight">개발(전체)</span>, 검수 및 최종 발표</p>
		<a class="project-link" href="https://github.com/jj-a/Daejins-today" target="_blank">Check it out</a>
	</div>
</div>